.approach {
    position: relative;
    top: 720px;
    margin-top: 200px;
    min-height: 1223px;
    .subtitle01 {
        width: 322px;
        &:before {
            width: 322px;
        }
    }
    .container {
        min-height: 1223px;
    }
    &__wrapperSubtitle {
        display: flex;
        width: 776px;
        margin-top: 10px;
        .divider {
            width: 34px;
        }
    }
    &__subtitle {
        margin-left: 15px;
    }
    &__wrapper-first {
        display: flex;
        margin-top: 50px;
    }
    &__leftBlock {
        display: flex;
        width: 915px;
        padding: 28px 50px;
        border: 1px solid #E6E6E6;
        box-sizing: border-box;
        border-radius: 5px;
        img {
            margin: 5px 50px 5px 0;
        }
        &-item {
            margin-bottom: 9px;
            color: #6B6B6B;
            span {
                color: var(--color-black);
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__rightBlock {
        width: 289px;
        margin-left: 12px;
        img {
            margin: 13.5px 0 0 6px;
        }
        &-descr span {
            font-weight: 600;
        }
    }
    .subtitleWrapper {
        margin-top: 50px;
        .subtitle {
            padding-right: 39px;
        }
    }





    &__wrapper-second {
        display: flex;
        margin-top: 20px;
    }
    &__secondBlock {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        &-topBlock {
            display: flex;
            justify-content: space-between;
            &-problems {
                width: 342px;
                height: 147px;
                margin-right: 17px;
                padding: 23px 33px;
                border: 1px solid var(--color-vinous);
                box-sizing: border-box;
                border-radius: 5px;
                &-title {
                    color: var(--color-vinous);
                    text-transform: uppercase;
                }
                &-item {
                    position: relative;
                    margin-top: 7px;
                    padding-left: 22px;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 14px;
                        height: 14px;
                        top: 2px;
                        left: 0;
                        background: url('../icons/4section/plus-circle.svg');
                    }
                }
            }
            &-decision {
                width: 342px;
                height: 147px;
                padding: 23px 36px;
                border: 1px solid var(--color-bgGreen-gr100-2);
                box-sizing: border-box;
                border-radius: 5px;
                &-title {
                    color: var(--color-bgGreen-gr100-2);
                    text-transform: uppercase;
                }
                &-item {
                    position: relative;
                    margin-top: 7px;
                    padding-left: 22px;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 14px;
                        height: 14px;
                        top: 2px;
                        left: 0;
                        background: url('../icons/4section/check-circle.svg');
                    }
                }
            }
        }
        &-bottomBlock {
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
            &-card {
                width: 148px;
                &:last-child {
                    .approach__secondBlock-bottomBlock-cardTitle {
                        margin-top: 0;
                    }
                }
            }
            &-cardTitle {
                margin-top: 20px;
                
            }
            &-cardSlider {
                &-head, &-head2 {
                    display: flex;
                    position: relative;
                    margin-top: 20px;
                    justify-content: space-between;
                    .red {
                        color: var(--color-vinous);
                    }
                    .green {
                        color: var(--color-bgGreen-gr100-2);
                    }
                }
                &-body, &-body2 {
                    width: 100%;
                    height: 20px;
                    margin-top: 10px;
                    background: #E9E9E9;
                    border-radius: 231px;
                    span {
                        display: block;
                        height: 100%;
                        border-radius: 231px;
                        background: var(--color-vinous) url('../img/Vector3.svg');
                    }
                }
                &-body2 span {
                    background-color: var(--color-bgGreen-gr100-2);
                }
            }
        }
    }
    




    &__wrapper-third {
        height: 439px;
        margin-top: 50px;
        background: url('../img/bg/x4-fin.svg'); 
    }
    &__thirdText {
        display: block;
        width: 845px;
        margin: 0 auto;
        padding-top: 30px;
        text-align: center;
    }
    &__thirdCardsWrapper {
        display: flex;
        width: 773px;
        height: 140px;
        margin: 0 auto;
        margin-top: 54px;
        justify-content: space-between;
        &-card {
            img {
                display: block;
                margin: 0 auto;
            }
            &-descr {
                margin-top: 15px;
                text-align: center;
            }
        }
    }
    &__thirdBtn {
        margin-top: 41px;
        text-align: center;
        a {
            display: inline-block;
            padding: 25px 40px;
            color: var(--color-white);
            background: var(--color-main-orange);
            box-shadow: 0px 4px 17px var(--color-main-orange);
            border-radius: 1px;

        }
    }
}   