.delivery {
    position: relative;
    min-height: 500px;
    top: 720px;
    margin-top: 200px;
    .leadConditions__subtitle {
        width: 672px;
    }
    &__mapImage {
        position: absolute;
        width: 868px;
        height: 480px;
        top: 20px;
        left: 644px;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }
    }
}