.order {
    &__form {
        margin-top: 50px;
        padding-left: 40px;
        width: 100%;
        height: 189px;
        background: url('../img/bg/x2.svg');
    }
    &__formWrapper {
        display:flex;
        margin-top: 21px;
        width: calc(100% - 40px);
        justify-content: space-between;
    }
    &__input {
        padding: 0 15px 0 15px;
        width: 275px;
        height: 46px;
        text-align: center;
        border:none;
        outline: none;
        &::placeholder {
            color: var(--color-black);
        }
    }
    &__btn {
        width: 268px;
        height: 46px;
        border: none;
        color: var(--color-white);
        background-color: var(--color-main-orange);
        box-shadow: 0px 4px 17px var(--color-main-orange);
        border-radius: 1px;
        &:focus, &:focus-visible {
            outline: none;
        }
    }
}





.delivery {
    &__form {
        margin-top: 30px;
    }
    &__formWrapper {
        display:flex;
        flex-direction: column;
        position: relative;
        width: 731px;
        margin-top: 21px;
        justify-content: space-between;
        &-pic {
            position: absolute;
            top: 16px;
            left: 17px;
            z-index: 1;
            &:nth-child(3) {
                top: 96px;
            }
        }
    }
    
    &__input {
        position: relative;
        padding: 0 15px 0 39px;
        width: 618px;
        height: 60px;
        margin-bottom: 20px;
        color: var(--color-black);
        background: #F4F4F4;
        box-shadow: inset 0px -2px 11px rgba(0, 0, 0, 0.07);
        border-radius: 5px;
        border:none;
        outline: none;
        &::placeholder {
            color: #5a5a5a;
        }
        &:nth-child(5) {
            box-shadow: none;
            &::placeholder {
                color: var(--color-black);
            }
        }
    }
    &__buttonBlock {
        display: flex;
        &-link {
            margin-left: 26px;
            align-self: center;
            a {
                color: var(--color-main-orange);
            }
        }
        &-btn-order {
            width: 309px;
            height: 70px;
            border: none;
            color: var(--color-white);
            background-color: var(--color-main-orange);
            box-shadow: 0px 4px 17px var(--color-main-orange);
            border-radius: 1px;
            &:focus, &:focus-visible {
                outline: none;
            }
        }
    }
    
}







.question {
    &__form {
        width: 100%;
        height: 100%;
        background: url('../img/bg/x14.svg');
        input {
            width: 515px;
            height: 55px;
            margin: 0 0 10px 34px;
            padding: 0 30px;
            color: var(--color-black);
            border:none;
            outline: none;
            &::placeholder {
                color: #575757;
            }
        }
        textarea {
            width: 515px;
            height: 130px;            
            margin: 0 0 10px 34px;
            padding: 22px 30px;
            color: var(--color-black);
            resize: none;
            border:none;
            outline: none;
            &::placeholder {
                color: #575757;
            }
        }
    }
    &__title {
        padding: 40px 0 20px 34px;
    }
    &__btn {
        display: block;
        width: 515px;
        height: 70px;
        margin: 0 auto;
        border: none;
        color: var(--color-white);
        background-color: var(--color-main-orange);
        box-shadow: 0px 4px 17px var(--color-main-orange);
        border-radius: 1px;
        &:focus, &:focus-visible {
            outline: none;
        }
    }
    &__policy {
        margin-top: 18px;
        input {
            position: relative;
            width: 18px;
            height: 18px;
            top: 3px;
            margin-right: 9px;
            border:none;
            outline: none;
        }
    }
}






