.pageup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 100px;
    height: 100px;
    z-index: 1000;
    svg path {
        fill: var(--color-1);
    }
    img {
        width: 100%;
    }
}