.fz12lh128p-400 {
    font-weight: normal;
    font-size: var(--fs-12);
    line-height: var(--lh-128p);
}
.fz13lh15-400 {
    font-weight: normal;
    font-size: var(--fs-13);
    line-height: var(--lh-15);
}
.fz13lh128p {
    font-size: var(--fs-13);
    line-height: var(--lh-128p);
}
.fz14lh16-400 {
    font-weight: normal;
    font-size: var(--fs-14);
    line-height: var(--lh-16);
}
.fz14lh128p-400 {
    font-weight: normal;
    font-size: var(--fs-14);
    line-height: var(--lh-128p);
}
.fz14lh128p {
    font-size: var(--fs-14);
    line-height: var(--lh-128p);
}
.fz15lh18 {
    font-size: var(--fs-15);
    line-height: var(--lh-18);
}
.fz15lh18-600 {
    font-weight: 600;
    font-size: var(--fs-15);
    line-height: var(--lh-18);
}
.fz15lh128p {
    font-size: var(--fs-15);
    line-height: var(--lh-128p);
}
.fz16lh19-400 {
    font-weight: 400;
    font-size: var(--fs-16);
    line-height: var(--lh-19);
}
.fz16lh19-R {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: var(--fs-16);
    line-height: var(--lh-19);
}
.fz16lh128p-400 {
    font-weight: normal;
    font-size: var(--fs-16);
    line-height: var(--lh-128p);
}
.fz16lh128p {
    font-size: var(--fs-16);
    line-height: var(--lh-128p);
}
.fz16lh128p-600 {
    font-weight: 600;
    font-size: var(--fs-16);
    line-height: var(--lh-128p);
}
.fz16lh128p-b {
    font-weight: bold;
    font-size: var(--fs-16);
    line-height: var(--lh-128p);
}
.fz17lh128p-600 {
    font-weight: 600;
    font-size: var(--fs-17);
    line-height: var(--lh-128p);
}
.fz18lh21-400 {
    font-weight: normal;
    font-size: var(--fs-18);
    line-height: var(--lh-21);
}
.fz18lh21-600 {
    font-weight: 600;
    font-size: var(--fs-18);
    line-height: var(--lh-21);
}
.fz18lh128p-600 {
    font-weight: 600;
    font-size: var(--fs-18);
    line-height: var(--lh-128p);
}
.fz20lh128p-b {
    font-weight: bold;
    font-size: var(--fs-20);
    line-height: var(--lh-128p);
}
.fz20lh128p-600 {
    font-weight: 600;
    font-size: var(--fs-20);
    line-height: var(--lh-128p);
}
.fz20lh128p-bR {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: var(--fs-20);
    line-height: var(--lh-128p);
}
.fz21lh128p {
    font-size: var(--fs-21);
    line-height: var(--lh-128p);
}
.fz21lh128p-500R {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: var(--fs-21);
    line-height: var(--lh-128p);
}
.fz22lh128p-600 {
    font-weight: 600;
    font-size: var(--fs-22);
    line-height: var(--lh-128p);
}
.fz24lh128p-R {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: var(--fs-24);
    line-height: var(--lh-128p);
}
.fz24lh128p-600 {
    font-weight: 600;
    font-size: var(--fs-24);
    line-height: var(--lh-128p);
}
.fz36lh128p-bR {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: var(--fs-36);
    line-height: var(--lh-128p);
}
.fz40lh128p-b {
    font-weight: bold;
    font-size: var(--fs-40);
    line-height: var(--lh-128p);
}
.fz51lh128p-bR {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: var(--fs-51);
    line-height: var(--lh-128p);
}







